<% title "Obrigado por enviar um anúncio para o ShigotoDoko" %>

<div class="box success-page">
<h1 class='title'>Obrigado por enviar um anúncio para o ShigotoDoko!</h1>
<p>Seu anúncio ficará disponível por no mínimo 30 dias a contar da data de publicação.</p>
<p>A publicação ocorre após um período de avaliação de no máximo 7 dias úteis. </p>

<hr>

<p>Caso seu anúncio não seja publicado dentro do período informado favor entrar em contato pelo e-mail <%= mail_to "shigotodoko@gmail.com" %></p>

<p class='feedback'><%= link_to 'Quero participar do Feedback!', feedback_path, class: 'btn btn-block btn-lg btn-success', style: 'color: #fff;' %></p>
</div>
